* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal; */
}

header {
    height: 100vh;
    padding-top: 30px;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/7031607/pexels-photo-7031607.jpeg?cs=srgb&dl=pexels-heyho-7031607.jpg&fm=jpg');
    background-size: cover;
}

.menu {
    width: 90%;
    background-color: #015754;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 20px;
    margin: auto;
    border-radius: 5px;
}

.menu nav {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.menu nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
}